<div class="row">
	<div class="introServer" >
		Server is <label class="serverStatus">{{getServerStatus()}}</label><br/>
		<!-- Get Data Static and Dynamic Later -->
		{{allowNewServer}} || <label [innerText] = 'allowNewServer'></label><br/>
		<label [innerText] = "serverCreationStatus"></label><br/>
		<div *ngIf="isDisplay">
			Current server Host is: <br/><label [innerText] = 'serverHost'> </label><br/>
			Current server Pass is: <br/><label [innerText] = 'serverPass'> </label><br/>
			Current server Port is: <br/><label [innerText] = 'serverPort'> </label><br/>
		</div>
	</div>

		<div *ngIf="!isDisplay">
			<label>Server Address</label>
			<input type="text" class="form-control" placeholder="Server Address" [(ngModel)]="serverHost">
		</div>
		<div *ngIf="!isDisplay">
			<label>Server Pass</label>
			<input type="password" class="form-control" placeholder="Password" [(ngModel)]="serverPass">
		</div>
		<div *ngIf="!isDisplay">
			<label >Server Port</label>
			<input type="text" class="form-control" placeholder="Server Port" [(ngModel)]="serverPort">
		</div>
		<button class="btn btn-primary" [disabled] = "!allowNewServer" (click) = "onGetData()">Add Server</button>

		<button class="btn btn-primary" [disabled] = "!allowNewServer" (click) = "onStopServer()">Stop Server</button>
</div>